<div class="tooltip-box">
  event='touch'
  {{#tooltip-on-element side='bottom' event='touch'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

<div class="tooltip-box">
  showOn='touchstart' hideOn='touchend'
  {{#tooltip-on-element side='bottom' showOn='touchstart' hideOn='touchend'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

<div class="tooltip-box">
  event='hover'
  {{#tooltip-on-element side='bottom' event='hover'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

<div class="tooltip-box">
  event='focus'
  {{#tooltip-on-element side='bottom' event='focus'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

<div class="tooltip-box">
  event='none'
  {{#tooltip-on-element side='bottom' event='none'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

<div class="tooltip-box">
  event='hover' hideOn='mouseleave'
  {{#tooltip-on-element side='bottom' event='hover' hideOn='mouseleave'}}
    Hello hello
  {{/tooltip-on-element}}
</div>

